<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Історичний квест</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="jumbotron jumbotron-fluid my-4 bg-primary text-light rounded">
                <div class="container">
                    <h1 class="display-4 text-center">Історичний квест</h1>
                    <p class="lead text-center">Дорогий друже, ми пропонуємо тобі пройти квест та поглибити в цікавій формі свої знання з історії Української національної революції 1917-1918 рр. За кожну правильну відповідь тобі буде надано секретне слово. Зібравши всі слова, ти складеш приказку. Зверніть увагу! Всі слова написані в неправильній послідовності.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" v-for="(card, cardId) in cards">
                    <div class="card mb-4 bg-dark text-white">
                        <img class="card-img full-width" :src="'assets/' + cardId + '.jpg'" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.content }}</p>
                            <button class="btn btn-primary force-bottom" data-toggle="modal" :data-target="'#modal-' + cardId" :disabled="cardId > stage">Вперед!</button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" :id="'modal-' + cardId" tabindex="-1" role="dialog" v-for="(card, cardId) in cards">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ card.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{ card.modalContent }}</p>
                                <img v-if="card.imageLink" :src="card.imageLink" class="w-100 mb-4">
                                <div v-if="card.test" class="border p-3 border-info rounded">
                                    <p>{{ card.test.question }}</p>
                                    <div v-for="(variant, variantId) in card.test.variants">
                                        <input :id="'variant-' + cardId + '-' + variantId" :name="'test-' + cardId" :type="card.test.type" :value="variant.text" v-model="card.test.chosen">
                                        <label :for="'variant-' + cardId + '-' + variantId">{{ variant.text }}</label>
                                    </div>
                                    <div class="mt-2">
                                        <a tabindex="0" v-if="card.test.hint" class="btn btn-info" data-toggle="popover" title="Підказка" :data-content="card.test.hint">Отримати підказку</a>
                                        <button class="btn btn-primary" @click="checkAnswers(card, cardId)">Відповісти</button>
                                    </div>
                                </div>
                                <div v-if="card.sortable">
                                    <draggable v-model="card.sortable.variants" class="row m-0">
                                        <div class="col p-2 border border-info rounded mx-2 text-center" v-for="element in card.sortable.variants">{{element}}</div>
                                    </draggable>
                                    <button class="btn btn-primary mt-4 col" @click="checkSortable(card, cardId)">Перевірити</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <p v-if="card.test" class="badge mr-auto my-auto" :class="stage > cardId ? 'badge-success' : 'badge-danger'">Ви {{ stage > cardId ? '' : 'не' }} виконали це завдання.</p>
                                <p v-if="card.test && card.test.secretWord && stage > cardId" class="badge badge-info my-auto">Секретне слово: {{ card.test.secretWord }}</p>
                                <p v-if="completed" class="badge badge-info my-auto">Ви завершили цей квест!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
<script src='index.js'></script>
</body>
</html>